<nav aria-label="Navigation principale">
  <mat-nav-list>
    <a
      mat-list-item
      routerLink="/"
      routerLinkActive="sp-sidebar__link--active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon matListItemIcon aria-hidden="true">dashboard</mat-icon>
      <span matListItemTitle>Tableau de bord</span>
    </a>
    <a mat-list-item routerLink="/design-system" routerLinkActive="sp-sidebar__link--active">
      <mat-icon matListItemIcon aria-hidden="true">palette</mat-icon>
      <span matListItemTitle>Design System</span>
    </a>
    @if (authentication.hasAnyRole(['ADMIN', 'MANAGER', 'AUDITOR'])) {
      <a mat-list-item routerLink="/partners" routerLinkActive="sp-sidebar__link--active">
        <mat-icon matListItemIcon aria-hidden="true">handshake</mat-icon>
        <span matListItemTitle>Partenaires</span>
      </a>
    }
    @if (authentication.hasRole('PARTNER')) {
      <a mat-list-item routerLink="/partners/status" routerLinkActive="sp-sidebar__link--active">
        <mat-icon matListItemIcon aria-hidden="true">verified_user</mat-icon>
        <span matListItemTitle>Mon statut Partner</span>
      </a>
    }
  </mat-nav-list>
</nav>
