POSTGRES_DB=sixpaydb
POSTGRES_USER=sixpay_user
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=15432
BACKEND_PORT=8080
FRONTEND_PORT=8088
SAMBA_REALM=sixpay.test
SAMBA_WORKGROUP=SIXPAY
SAMBA_HOSTNAME=dc.sixpay.test
SIXPAY_LDAP_URLS=ldaps://host.docker.internal:636
SIXPAY_LDAP_BASE_DN=DC=sixpay,DC=test
SIXPAY_LDAP_USER_SEARCH_BASE=CN=Users
SIXPAY_LDAP_SERVICE_ACCOUNT_DN=CN=Administrator,CN=Users,DC=sixpay,DC=test
SIXPAY_LDAP_SERVICE_ACCOUNT_PASSWORD=change-me
SIXPAY_LDAP_TRUST_DOMAIN=sixpay-preproduction-ldap
AMPLITUDE_PAYMENT_BASE_URL=http://host.docker.internal:9092
