:root {
  --sp-font-family: Roboto, 'Helvetica Neue', sans-serif;
  --sp-font-size-xs: 0.75rem;
  --sp-font-size-sm: 0.875rem;
  --sp-font-size-base: 1rem;
  --sp-font-size-lg: 1.125rem;
  --sp-font-size-xl: 1.5rem;
  --sp-font-size-2xl: 2rem;
  --sp-line-height-tight: 1.25;
  --sp-line-height-base: 1.5;
  --sp-font-weight-medium: 500;
  --sp-font-weight-semibold: 600;
  --sp-font-weight-bold: 700;
}
